<!-- <br>
<h1>Hello, <strong>User</strong> !</h1>
<h1><p><strong>Welcome to my site of PhoneBook.</strong></p></h1> -->

<div class="container">
  <div class="row">
    <div class="col">
      <img class="photo" src="assets/img/phonebook.jpg" />
    </div>
    <div class="col d-flex align-items-center text-center">
        <h1 class="text-center"><p> A <strong>telephone directory </strong>, commonly called a <strong>telephone book</strong>,
          telephone address book, phone book,
           or the white and yellow pages,
            is a listing of telephone
             subscribers in a geographical
              area or subscribers to services
               provided by the organization
                that publishes the directory.
                 Its purpose is to allow the
                  telephone number of a subscriber 
                  identified by name and address to be found.
        </p></h1>
    </div>
  </div>
</div>